.sideBarContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 300px;
    height: 100vh;
    padding-right: 32px;
    padding-left: 50px;
    background-color:#121212;
}

.sideBarContainer.close {
    left: -400px; /* Adjust this value as needed */
  transition: left 0.3s ease;
  }

  .sideBarContainer.open {
    left: 20px; /* Adjust this value as needed */
    
  transition: left 0.3s ease;
  }



.header{
    background-color: 'inherit';
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 1.25rem;
    color: white;
    margin-bottom: 24px;
}

.menu {
    
    position:fixed;
    top: 16px;
    left: 16px;
    background-color: black;
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  
    font-size: 18px;
  }

